---
layout: default
title: Contact us | Company Name
---
<article class="container text-center">
	<h1>Contact us</h1>
	<div class="contact">
		<div class="contact__column contact__column--first">
			<h2 class="contact__title">Find us</h2>
			<p class="contact__address"><strong>Company Name</strong><br>
				123 Street Name, Town,<br>
				County ABC 123</p>
			<p class="contact__phone">01702 123456</p>
		</div>
		<div class="contact__column">
			<h2 class="contact__title">Get in touch</h2>
			<p>Please fill in the form below and we will get back to you as soon and possible.</p>
			<!-- <form id="form104" name="form104" class="contact__form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://swancreative.wufoo.eu/forms/z1u1u1ht1xjm4oj/#public" data-wufooformid="z1u1u1ht1xjm4oj"> -->
			<form class="contact__form">
				<div class="contact__form-group">
					<input class="contact__form-field" id="Field1" name="Field1" type="text" maxlength="255" required placeholder="Full Name">
				</div>
				<div class="contact__form-group">
					<input class="contact__form-field" id="Field2" name="Field2" type="tel" maxlength="255" placeholder="Telephone No.">
				</div>
				<div class="contact__form-group">
					<input class="contact__form-field" id="Field3" name="Field3" type="email" spellcheck="false" maxlength="255" required placeholder="Email Address">
				</div>
				<div class="contact__form-group">
					<textarea class="contact__form-field" id="Field4" name="Field4" spellcheck="true" required placeholder="Enquiry"></textarea>
				</div>
				<button class="btn contact__submit" type="submit">Submit</button>
				<div class="contact__form-hide">
					<label for="comment">Do Not Fill This Out</label>
					<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
					<input type="hidden" id="idstamp" name="idstamp" value="BEraHe2qCmVtYm3+Rrlecqv6nEgrHG/vShKgoicjZDY=">
				</div>
			</form>
		</div>
	</div>
</article>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39706.41789687814!2d0.7031486270019531!3d51.53795856094203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1488192076812" width="1920" height="562" frameborder="0" style="border:0" allowfullscreen></iframe>