---
layout: default
title: Gallery | Company Name
---
<article class="container text-center">
	<h1>Gallery</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consectetur. Dolor odio officiis voluptatem ut eius adipisci quas, labore porro, architecto commodi repellendus sunt veniam provident eos, quasi dolorum dolore?</p>
	<div class="gallery gallery--animate">
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
	</div>
	<a class="btn gallery__more-btn" href="#">More</a>
	<div class="gallery gallery--more">
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
		<a class="gallery__link" href="http://placehold.it/4134x2756" data-lightbox="gallery"><img class="gallery__img" src="http://placehold.it/652x652" alt="" width="326" height="326"></a>
	</div>
</article>