---
layout: default
title: Company Name
---
<article class="container text-center">
	<h1>Main title goes here</h1>
	<h2>Subtitle goes here</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis recusandae ab consequuntur nisi illo reiciendis, accusantium, dolores ipsam. Eaque distinctio in ex blanditiis sint natus, accusantium quas obcaecati tenetur dolorum.</p>
	<p>Dolores debitis dolorum ut, veritatis vitae fugiat possimus neque, corrupti eos ea porro ipsam praesentium ipsa placeat ad corporis adipisci! Doloremque modi eos neque, necessitatibus officia odio sint adipisci veniam.</p>
	<p>Ipsa veritatis dolor dignissimos neque nemo minus aspernatur porro magnam perspiciatis quam nostrum illum obcaecati, fuga consequuntur, quae animi impedit accusantium distinctio debitis quas. Voluptates voluptate, cum ducimus illo dolorum.</p>
	<a class="btn" href="/contact-us.html">Contact Button</a>
</article>
<section class="container img-link">
	<a class="img-link__single img-link__single--left" href="#">
		<img class="img-link__img" src="http://placehold.it/1008x916" alt="" width="504" height="458">
		<span class="img-link__text">Page Button 1</span>
	</a>
	<a class="img-link__single img-link__single--right" href="#">
		<img class="img-link__img" src="http://placehold.it/1008x916" alt="" width="504" height="458">
		<span class="img-link__text">Page Button 2</span>
	</a>
</section>