// =================
// CONTENTS
// -----------------
// VARIABLES
// FONTS
// GENERAL
// NAV
// HEADER
// IMG LINK
// BOTTOM IMAGES
// BOTTOM ACCREDITATIONS
// GALLERY
// ACCREDITATIONS
// MAP
// CONTACT
// FOOTER
// =================

// VARIABLES

$primary: darkblue;
$secondary: orange;

// FONTS

@font-face {
	font-family: 'Gotham HTF';
	src: url('/fonts/gothamhtf-book-webfont.woff2') format('woff2'),
	     url('/fonts/gothamhtf-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham HTF';
	src: url('/fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
	     url('/fonts/gothamhtf-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Serif';
	src: url('/fonts/notoserif-bold-webfont.woff2') format('woff2'),
	     url('/fonts/notoserif-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Miss Le Gatees';
	src: url('/fonts/misslgrg-webfont.woff2') format('woff2'),
	     url('/fonts/misslgrg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// GENERAL

body {
	font-family: 'Gotham HTF', sans-serif;
	font-weight: normal;

	@media (max-width: 911px) {
		padding-top: 60px;
	}
}

article,
article.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	color: #4C5966;
	font-size: 1.1875em;
	line-height: 1.8em;
}

strong {
	font-weight: bold;
}

.lead {
	color: $primary;
	font-weight: bold;
}

h1 {
	font-family: 'Miss Le Gatees', cursive;
	font-weight: normal;
	color: $secondary;
	font-size: 4em;

	@media (max-width: 509px) {
		line-height: 0.8em;
	}

	@media (min-width: 701px) {
		font-size: 5.625em;
	}
}

h2 {
	font-family: 'Noto Serif', serif;
	font-weight: bold;
	font-size: 1.375em;
	text-transform: uppercase;
	color: $primary;

	@media (min-width: 369px) {
		font-size: 1.625em;
	}

	@media (min-width: 701px) {
		font-size: 2.25em;
	}
}

.btn {
	display: inline-block;
	background-color: $secondary;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px 24px;
	border: 0;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover,
	&:focus {
		background-color: $primary;
		outline: none;
	}
}

.container {
	width: 100%;
	max-width: 1064px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.read-more-content {
	display: none;
}

.read-more-content-visible {
	
}

// NAV

.nav {
	background-color: $primary;
	font-size: 0.875em;

	@media (max-width: 911px) {
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		max-height: 100%;
		overflow-y: scroll;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;

		@media (min-width: 912px) {
			animation: nav_slide_down 0.3s forwards;
		}
	}

	@keyframes nav_slide_down {
		0% {
			transform: translate3d(0, -100%, 0);
		}

		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	&__toggle {
		margin: 10px 0;
		float: right;
		padding: 0;
		border: 0;
		border-radius: 0;
		background-color: transparent;
		background-image: url('/images/nav-toggle-icon.svg');
		background-position: center;
		background-size: 40px 31px;
		background-repeat: no-repeat;
		cursor: pointer;
		width: 40px;
		height: 40px;
		color: transparent;
		font-size: 0;
		line-height: 0;

		@media (min-width: 912px) {
			display: none;
		}

		&:hover,
		&:focus {
			outline: none;
		}
	}

	&__inside {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	&__logo {
		margin: 15px 30px 15px 0;
		float: left;
		transition: opacity 0.3s;

		@media (max-width: 911px) {
			display: block;
		}

		@media (min-width: 912px) {
			display: none;
			margin: 20px 30px 20px 0;
		}

		&:hover,
		&:focus {
			outline: none;
			opacity: 0.5;
		}

		.nav--fixed & {
			@media (min-width: 912px) {
				display: block;
			}
		}
	}

	&__logo-img {
		display: block;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		@media (max-width: 911px) {
			clear: both;
			max-height: 0;
			transition: max-height 0.3s;
		}

		@media (min-width: 912px) {
			margin: 0 -15px;
			float: right;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		&--visible {
			@media (max-width: 911px) {
				display: block;
				max-height: 490px;
			}
		}
	}

	&__item {
		display: block;
		position: relative;

		@media (min-width: 912px) {
			float: left;
		}
	}

	&__link {
		display: block;
		color: #FFF;
		text-transform: uppercase;
		text-decoration: none;
		padding: 27px 0;
		transition: color 0.3s;

		@media (max-width: 911px) {
			text-align: center;
		}

		@media (min-width: 912px) {
			padding: 27px 15px;
		}

		&:hover,
		&:focus,
		.nav__item--active & {
			outline: none;
			color: $secondary;
		}
	}

	&__sub-list {
		list-style: none;
		padding: 10px 0 0;
		margin: -12px 0 0;
		overflow: hidden;
		background-color: $primary;
		position: relative;

		@media (min-width: 912px) {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			padding: 0;
			margin: 0;
		}

		.nav__item:hover &,
		.nav__item:focus &,
		.nav__link:hover + &,
		.nav__link:focus + & {
			display: block;
		}

		&:before {
			@media (max-width: 911px) {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				border-top: 10px solid #FFF;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
		}
	}

	&__sub-item {
		display: block;
	}

	&__sub-link {
		display: block;
		color: #FFF;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;
		padding: 15px 0;
		white-space: nowrap;

		@media (max-width: 911px) {
			text-align: center;
		}

		@media (min-width: 912px) {
			padding: 15px;
		}

		&:hover,
		&:focus {
			outline: none;
			color: $secondary;
		}
	}
}

// HEADER

.header {
	&__top {
		overflow: hidden;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__top-left {
		overflow: hidden;

		@media (max-width: 602px) {
			text-align: center;
		}

		@media (min-width: 603px) {
			float: left;
		}
	}

	&__top-right {
		overflow: hidden;

		@media (max-width: 602px) {
			text-align: center;
		}

		@media (min-width: 603px) {
			float: right;
			margin-top: 41px;
			margin-left: 20px;
		}

		@media (min-width: 831px) {
			margin-top: 3px;
		}
	}

	&__logo {
		display: block;
		transition: opacity 0.5s;

		@media (min-width: 353px) and (max-width: 602px) {
			width: 276px;
			margin: 0 auto;
		}

		@media (min-width: 603px) {
			float: left;
		}

		&:hover,
		&:focus {
			outline: none;
			opacity: 0.5;
		}
	}

	&__logo-img {
		display: block;

		@media (max-width: 352px) {
			width: 100%;
			height: auto;
		}
	}

	&__slogan {
		color: $primary;
		margin: 10px 0 0;
		font-size: 1em;

		@media (min-width: 603px) {
			float: left;
		}

		@media (min-width: 603px) and (max-width: 830px) {
			clear: left;
		}

		@media (min-width: 831px) {
			margin: 25px 0 0;
		}
	}

	&__phone {
		color: $primary;
		font-family: 'Noto Serif', serif;
		font-weight: bold;
		font-size: 2.25em;
		margin: 0;

		@media (min-width: 603px) {
			float: right;
		}

		a {
			color: $primary;
		}
	}

	&__visit {
		@media (min-width: 603px) {
			float: right;
			clear: right;
		}
	}

	&__banner-container {
		border-bottom: 8px solid $secondary;
	}

	&__banner-arrow {
		display: block;
		position: absolute;
		top: 50%;
		z-index: 1;
		padding: 15px;
		margin: -43px 0 0;
		border: 0;
		background-color: rgba(#FFF, 0.6);
		cursor: pointer;
		color: $primary;
		transition: color 0.3s;

		@media (max-width: 414px) {
			display: none !important;
		}

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}

		&:hover,
		&:focus {
			outline: none;
			color: $secondary;
		}
	}

	&__banner-arrow-svg {
		display: block;
	}

	&__banner {
		width: 100%;
		background-color: #DDD;
		background-size: cover;
		height: 250px;
		background-position: top center;

		@media (min-width: 650px) {
			height: 345px;
		}

		&--home {
			background-image: url('http://placehold.it/3840x690');
		}

		&--other {
			background-image: url('http://placehold.it/3840x690');
		}
	}
}

// IMG LINK

.img-link {
	margin: 50px auto;

	@media (min-width: 1064px) {
		overflow: hidden;
	}

	&__single {
		display: block;
		text-align: center;
		text-decoration: none;
		color: #FFF;
		text-transform: uppercase;
		width: 100%;

		@media (min-width: 544px) {
			width: 504px;
		}

		@media (max-width: 1063px) {
			margin: 50px auto;
		}

		&--left {
			@media (min-width: 1064px) {
				float: left;
				margin-right: 8px;
			}
		}

		&--right {
			@media (min-width: 1064px) {
				float: right;
				margin-left: 8px;
			}
		}

		&:hover,
		&:focus {
			outline: none;
		}
	}

	&__img {
		display: block;

		@media (min-width: 360px) {
			border-bottom: 8px solid $secondary;
		}

		@media (max-width: 544px) {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		display: block;
		background-color: $secondary;
		padding: 17px 20px;
		margin: 0 auto;
		position: relative;
		transition: background-color 0.3s;

		@media (min-width: 360px) {
			width: 240px;
		}

		@media (min-width: 360px) {
			margin: -39px auto 0;
		}

		.img-link__single:hover &,
		.img-link__single:focus & {
			background-color: $primary;
		}
	}
}

// BOTTOM IMAGES

.bottom-imgs {
	margin: 50px auto;
	text-align: center;
	overflow: hidden;

	&__img {
		display: block;
		width: 100%;
		height: auto;

		@media (min-width: 544px) {
			width: 504px;
		}

		@media (max-width: 1063px) {
			margin: 50px auto;
		}

		&--left {
			@media (min-width: 1064px) {
				float: left;
				margin-right: 8px;
			}
		}

		&--right {
			@media (min-width: 1064px) {
				float: right;
				margin-left: 8px;
			}
		}
	}

	&__btn {
		margin: 20px 0;
	}
}

// BOTTOM ACCREDITATIONS

.bottom-accreditations {
	background: #949AA3;
	text-align: center;
	padding: 28px 0 50px;

	&__title {
		color: #FFF;
		font-size: 1.625em;
	}

	&__row {
		display: flex;
		justify-content: center;
		width: 100%;

		@media (max-width: 811px) {
			flex-wrap: wrap;
			margin: -20px 0;
		}

		@media (min-width: 812px) {
			justify-content: space-between;
		}
	}

	&__single {
		flex-shrink: 1;

		@media (min-width: 390px) and (max-width: 559px) {
			width: 50%;
		}

		@media (min-width: 560px) and (max-width: 811px) {
			width: 33%;
		}

		@media (max-width: 811px) {
			margin: 20px 0;
		}

		&:not(:first-child) {
			@media (min-width: 812px) {
				margin-left: 10px;
			}
		}

		&:not(:last-child) {
			@media (min-width: 812px) {
				margin-right: 10px;
			}
		}
	}

	&__img {
		display: block;
		margin: 0 auto;

		&--1 {
			padding: 3px 0;
		}

		&--2 {
			padding: 28px 0;
		}

		&--3 {
			padding: 24px 0;
		}

		&--4 {
			padding: 25px 0;
		}

		&--5 {
			padding: 11.5px 0;
		}
	}

	&__text {
		margin: 0;
		color: #FFF;
		text-transform: uppercase;
		font-size: 0.75em;
	}
}

// GALLERY

.gallery {
	margin: 39px -12px -12px -11px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&--more {
		display: none;
	}

	&--more-visible {
		margin-top: 12px;
	}

	&__link {
		display: block;
		padding: 11px 12px 12px 11px;
		position: relative;
		width: 100%;
		box-sizing: border-box;

		@media (min-width: 533px) {
			width: 50%;
		}

		@media (min-width: 800px) {
			width: 33%;
		}

		&:hover,
		&:focus {
			outline: none;
		}

		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 80px;
			margin-top: -40px;
			margin-left: -40px;
			display: block;
			content: '';
			background-color: rgba($secondary, 0.9);
			background-image: url('/images/gallery-plus-icon.svg');
			background-repeat: no-repeat;
			background-size: 48px;
			background-position: center;
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:hover:after,
		&:focus:after {
			opacity: 1;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__more-btn {
		margin: 20px 0;
	}
}

// ACCREDITATIONS

.accreditations {
	@media (min-width: 800px) {
		text-align: left;
	}

	&__group {
		margin: 50px 0;

		@media (min-width: 800px) {
			display: flex;
		}
	}

	&__img-container {
		@media (min-width: 800px) {
			margin-right: 50px;
			width: 237px;
			flex-shrink: 0;
		}
	}

	&__img {
		display: block;
		
		@media (max-width: 799px) {
			margin: 0 auto;
		}
	}

	&__text {
		
	}

	&__title {
		@media (min-width: 800px) {
			margin-top: 0;
		}
	}
}

// MAP

.map {
	width: 100%;
	display: block;
}

// CONTACT

.contact {
	overflow: hidden;
	text-align: left;

	&__column {
		@media (max-width: 799px) {
			margin: 50px 0;
		}

		@media (min-width: 800px) {
			width: 50%;
			float: left;
		}

		&--first {
			box-sizing: border-box;
			padding-right: 50px;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__address,
	&__phone {
		position: relative;
		margin-left: 30px;

		&:after {
			position: absolute;
			top: 0;
			right: 100%;
			font-family: 'Gotham HTF', sans-serif;
			font-weight: bold;
			font-size: 1.1875em;
			color: $primary;
			display: block;
			width: 30px;
		}
	}

	&__address {
		&:after {
			content: 'A';
		}
	}

	&__phone {
		&:after {
			content: 'T';
		}

		a {
			color: #4C5966;
		}
	}

	&__form-group {
		margin: 20px 0;
	}

	&__form-field {
		border: 1px solid $primary;
		font-family: 'Gotham HTF', sans-serif;
		font-weight: normal;
		font-size: 0.9375em;
		width: 100%;
		box-sizing: border-box;
		color: #4C5966;
		padding: 12px 10px;
		border-radius: 0;
		display: block;
		box-shadow: none;
		-webkit-appearance: none;

		.contact__form-group--has-error & {
			border-color: #F44336;
		}

		&:focus {
			outline: none;
			background-color: #EEE;
		}
	}

	::-webkit-input-placeholder {
		color: $primary;
	}

	::-moz-placeholder {
		color: $primary;
	}

	:-ms-input-placeholder {
		color: $primary;
	}

	:-moz-placeholder {
		color: $primary;
	}

	&__form-hide {
		display: none;
	}

	&__form-error {
		margin: 5px 0 0;
		font-size: 0.9375em;
		color: #F44336;
	}

	&__form-success {
		font-size: 1.5em;
		color: #4CAF50;
	}
}

// FOOTER

.footer {
	background-color: $primary;

	&__inside {
		overflow: hidden;
		padding: 50px 20px;
	}

	&__logo {
		display: block;

		@media (min-width: 549px) {
			float: left;
			margin-bottom: 50px;
		}
	}

	&__slogan {
		color: #FFF;
		font-size: 1em;
		margin: 0 0 50px;

		@media (min-width: 549px) {
			float: left;
			margin: 21px 0 0;
		}
	}

	&__columns {
		display: flex;
		clear: both;

		@media (max-width: 855px) {
			flex-wrap: wrap;
		}
	}

	&__single-column {
		border-left: 1px solid #FFF;
		padding-left: 20px;
		width: 100%;
		box-sizing: border-box;
		flex-shrink: 0;

		@media (min-width: 500px) {
			width: 50%;
			padding-right: 20px;
		}

		@media (max-width: 855px) {
			margin-bottom: 20px;
		}

		@media (min-width: 856px) {
			width: 256px;
		}

		&--last {
			width: 100%;
			padding-right: 0;
			flex-shrink: 1;
		}
	}

	&__title {
		color: #FFF;
		font-family: 'Noto Serif', serif;
		font-size: 1.25em;
		text-transform: uppercase;
		margin-top: 0;
	}

	&__text {
		color: #FFF;
		font-size: 0.875em;
		margin-bottom: 0;

		a {
			color: #FFF;
		}
	}

	&__nav-columns {
		@media (min-width: 344px) {
			display: flex;
		}
	}

	&__nav-single-column {
		width: 100%;
		box-sizing: border-box;

		@media (min-width: 344px) {
			width: 50%;
		}

		&:first-of-type {
			@media (min-width: 344px) {
				padding-right: 10px;
			}
		}

		&:last-of-type {
			@media (min-width: 344px) {
				padding-left: 10px;
			}
		}
	}

	&__nav-link {
		display: block;
		color: #FFF;
		font-size: 0.875em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		transition: color 0.3s;

		&:hover,
		&:focus,
		&--active {
			outline: none;
			color: $secondary;
		}
	}

	&__bottom {
		background-color: #4C5966;

		p,
		a {
			color: #FFF;
		}

		p {
			font-size: 0.75em;
		}

		a {
			text-decoration: none;
			font-weight: bold;
			transition: color 0.3s;

			&:hover,
			&:focus {
				outline: none;
				color: $secondary;
			}
		}
	}

	&__bottom-inside {
		overflow: hidden;

		@media (min-width: 650px) {
			display: flex;
			justify-content: space-between;
		}
	}
}
