<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="/css/style.min.css">
	{% if page.url == '/gallery.html' %}
		<link rel="stylesheet" href="/css/lightbox.min.css">
	{% endif %}
</head>
<body>
	<nav class="nav">
		<div class="container nav__inside">
			<a class="nav__logo" href="/"><img class="nav__logo-img" src="http://placehold.it/84x60" alt="" width="42" height="30"></a>
			<button class="nav__toggle">Toggle Navigation</button>
			<ul class="nav__list">
				<li class="nav__item{% if page.url == '/' or page.url == '/index.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/">Home</a></li>
				<li class="nav__item{% if page.url == '/text-page.html' %} nav__item--active{% endif %}">
					<a class="nav__link" href="/text-page.html">Text Page</a>
					<ul class="nav__sub-list">
						<li class="nav__sub-item"><a class="nav__sub-link" href="#">Sub Page 1</a></li>
						<li class="nav__sub-item"><a class="nav__sub-link" href="#">Sub Page 2</a></li>
					</ul>
				</li>
				<li class="nav__item{% if page.url == '/gallery.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/gallery.html">Gallery</a></li>
				<li class="nav__item{% if page.url == '/accreditations.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/accreditations.html">Accreditations</a></li>
				<li class="nav__item{% if page.url == '/contact-us.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/contact-us.html">Contact us</a></li>
			</ul>
		</div>
	</nav>
	<header class="header">
		<div class="container header__top">
			<div class="header__top-left">
				<a class="header__logo" href="/"><img class="header__logo-img" src="http://placehold.it/624x218" alt="" width="312" height="109"></a>
				<p class="header__slogan">Slogan text can go here</p>
			</div>
			<div class="header__top-right">
				<p class="header__phone">01702 123456</p>
				<a class="btn header__visit" href="/contact-us.html">Contact Button</a>
			</div>
		</div>
		<div class="header__banner-container">
			{% if page.url == '/' or page.url == '/index.html' %}
				<div class="header__banner header__banner--home"></div>
				<div class="header__banner header__banner--home"></div>
			{% else %}
				<div class="header__banner header__banner--other"></div>
			{% endif %}
		</div>
	</header>
	{{ content }}
	{% if page.url != '/accreditations.html' %}
	<section class="bottom-accreditations">
		<div class="container">
			<h2 class="bottom-accreditations__title">Accreditations</h2>
			<div class="bottom-accreditations__row">
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--1" src="http://placehold.it/132x168" alt="" width="66" height="84">
					<p class="bottom-accreditations__text">Lorem ipsum</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--2" src="http://placehold.it/214x68" alt="" width="107" height="34">
					<p class="bottom-accreditations__text">Laborum numquam</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--3" src="http://placehold.it/278x84" alt="" width="139" height="42">
					<p class="bottom-accreditations__text">Modi quia</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--4" src="http://placehold.it/248x80" alt="" width="124" height="40">
					<p class="bottom-accreditations__text">Velit accusantium</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--5" src="http://placehold.it/214x134" alt="" width="107" height="67">
					<p class="bottom-accreditations__text">Officiis vitae</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img" src="http://placehold.it/176x180" alt="" width="88" height="90">
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	<footer class="footer{% if page.url == '/accreditations.html' %} footer--white-top{% endif %}">
		<div class="container footer__inside">
			<img class="footer__logo" src="http://placehold.it/560x196" alt="" width="280" height="98">
			<p class="footer__slogan">Slogan text can go here</p>
			<div class="footer__columns">
				<div class="footer__single-column">
					<h3 class="footer__title">About</h3>
					<p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quia ratione unde optio fuga.</p>
				</div>
				<div class="footer__single-column">
					<h3 class="footer__title">Contact Us</h3>
					<p class="footer__text">123 Street Name,<br>
						Town,<br>
						County, ABC 123<br>
						<strong>01702 123456</strong></p>
				</div>
				<div class="footer__single-column footer__single-column--last">
					<h3 class="footer__title">Navigation</h3>
					<div class="footer__nav-columns">
						<div class="footer__nav-single-column">
							<a class="footer__nav-link{% if page.url == '/' or page.url == '/index.html' %} footer__nav-link--active{% endif %}" href="/">Home</a>
							<a class="footer__nav-link{% if page.url == '/text-page.html' %} footer__nav-link--active{% endif %}" href="/text-page.html">Text Page</a>
							<a class="footer__nav-link{% if page.url == '/gallery.html' %} footer__nav-link--active{% endif %}" href="/gallery.html">Gallery</a>
						</div>
						<div class="footer__nav-single-column">
							<a class="footer__nav-link{% if page.url == '/accreditations.html' %} footer__nav-link--active{% endif %}" href="/accreditations.html">Accreditations</a>
							<a class="footer__nav-link{% if page.url == '/contact-us.html' %} footer__nav-link--active{% endif %}" href="/contact-us.html">Contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="container footer__bottom-inside">
				<p>Copyright Company Name © <span class="footer__year">2017</span>. All Rights Reserved.</p>
				<p>Site designed and built by <a href="https://www.swancreative.com/" target="_blank">Swan Creative</a></p>
			</div>
		</div>
	</footer>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/scrollreveal.min.js"></script>
	<script src="/js/script.js"></script>
	{% if page.url == '/' or page.url == '/index.html' %}
		<script>
			$(document).ready(function() {
				$('.header__banner-container').slick({
					autoplay: true,
					autoplaySpeed: 5000,
					prevArrow: '<button class="header__banner-arrow header__banner-arrow--prev" type="button"><svg class="header__banner-arrow-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.2 56.92" width="17" height="57"><defs><style>.arrow-prev{fill:currentColor;}</style></defs><title>carousel-arrow-prev</title><polygon class="arrow-prev" points="0 28 14.42 0 16.2 0.92 2.01 28.46 16.2 56 14.42 56.92 0 28.92 0 28"/></svg></button>',
					nextArrow: '<button class="header__banner-arrow header__banner-arrow--next" type="button"><svg class="header__banner-arrow-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.2 56.92" width="17" height="57"><defs><style>.arrow-next{fill:currentColor;}</style></defs><title>carousel-arrow-next</title><polygon class="arrow-next" points="16.2 28 1.78 0 0 0.92 14.19 28.46 0 56 1.78 56.92 16.2 28.92 16.2 28"/></svg></button>',
					speed: 1000
				});
			});
		</script>
	{% endif %}
	{% if page.url == '/gallery.html' %}
		<script src="/js/lightbox.min.js"></script>
		<script>
			$(document).ready(function() {
				$('.gallery__more-btn').click(function(event) {
					event.preventDefault();
					$(this).hide();
					$('.gallery--more').removeClass('gallery--more').addClass('gallery--more-visible');
					sr.reveal('.gallery--more-visible .gallery__link', 100);
				});
			});
		</script>
	{% endif %}
	{% if page.url == '/contact-us.html' %}
		<!-- <script>
			$(document).ready(function() {
				$('#form104').on('submit', function(event) {
					var this_form = $(this).attr('id');
					$('#' + this_form + ' .contact__form-error').remove();
					if ($('#' + this_form + ' .contact__form-group').hasClass('contact__form-group--has-error')) {
						$('#' + this_form + ' .contact__form-group').removeClass('contact__form-group--has-error');
					}
					event.preventDefault();
					$.ajax({
						url: 'http://forms.swancreative.com/w/' + $(this).data('wufooformid'),
						data: $(this).serialize(),
						type: 'POST',
						success: function(response) {
							if (response.Success === 1) {
								$('#' + this_form).after('<p class="contact__form-success">Thank you for contacting us!</p>');
								$('#' + this_form).remove();
							} else {
								var i = 0;
								$.each(response.FieldErrors, function() {
									$('#' + this_form + ' #' + response.FieldErrors[i].ID).after('<p class="contact__form-error">' + response.FieldErrors[i].ErrorText + '</p>');
									$('#' + this_form + ' #' + response.FieldErrors[i].ID).parent('.contact__form-group').addClass('contact__form-group--has-error');
									i++;
								});
							}
						}
					});
				});
			});
		</script> -->
	{% endif %}
</body>
</html>
